{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kun uz</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home'%}">Kun uz</a></h1>  
    </header>
    <div>
        {%block content%}
        {%endblock content%}
    </div>
    <footer>
        <h2><a href="{%url 'post_new'%}">Yangi post yozish</a></h2>
    </footer>
</body>
</html>